.jumbotron {
  padding-top: 2rem;
  background-color: #98abee;
}
#project {
  background-color: #98abee;
}
.Skills {
  padding-top: 2rem;
  background-color: #98abee;
}
.contact {
  background-color: #98abee;
}
